<!-- <h3 >Heureux de vous revoir parmi nous <%= current_user.first_name %> !</h3> -->



<!-- <h1>Dasboard</h1> -->

<%= render 'shared/transactions' %>
<%= render "shared/carousel",  piece: @pieces.last %>
<%= link_to "voir toutes les pièces", pieces_path %>
 <br>
 <%= link_to "ajouter une piece", new_piece_path %>