<div class="container-img mt-3">

  <div class="show-img-description">
      <%= render 'shared/carousel', piece: @piece %>
      <div class="description">
        <!-- <h2>Description de l'oeuvre : </h2> -->
        <p id="wikipedia"></p>
      </div>
  </div>

  <div class="container-text">
      <div class="container-infos-left">
        <h1 class="piece-name"><%= @piece.name  %></h1>

          <div class="container-infos-categories">
            <div class="category">
              <p><%= "Category : #{@piece.category}" %></p>
            </div>
              <div class="info-prix">
                <p><%= "#{@piece.price} €" %></p>
              </div>
          </div>
      </div>
  </div>

  <div class="container-actions">
    <div class="container-actions-link">
      <%= link_to "Retour", root_path, class: "black" %>
      <% if user_signed_in?  %>
      <%= link_to "Réserver", new_piece_transaction_path(@piece), class: "black" %>
         <% if current_user == @piece.owner %>
         <%= link_to 'modifier', edit_piece_path(@piece), class: "black" %>
    </div>
       <div class="container-button">
         <%= button_to piece_path(@piece),
               method: :delete,
               data: { confirm: "Voulez-vous supprimer #{@piece.name}?" },
               type: "button",
               class: "btn btn-info rounded-pill" do %>
               Supprimer
             <% end %>
       </div>
     <% end %>
    <% end %>

  </div>
</div>

<%= javascript_pack_tag 'wikipedia' %>
