<div class="form-container">
  <div id='piece-booking-dates' data-unavailable="<%= @piece.unavailable_dates.to_json %>">
    <%= simple_form_for([@piece, @transaction]) do |f| %>
      <%= f.input :date_start, as: :string, label: "Dates", placeholder: "à partir de", wrapper_html: {  class: "inline_field_wrapper" } %>
      <%= f.input :date_end, as: :string, label: '&nbsp;'.html_safe, placeholder: "jusqu'à", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
      <%= f.submit "reserver", class: "btn btn-ghost btn-lg btn-block btn-booking" %>
    <% end %>
   </div>
</div>

