
  <h1><%= @transaction.piece.name %></h1>
  <h2><%= @transaction.piece.artist %></h2>

<%= render 'shared/carousel', piece: @transaction.piece %>
  
<div class="container-text my-4">
  <div class="container-infos">
  <p><%= "début de location : #{@transaction.start}" %></p>
  <p><%= "fin de location : #{@transaction.end}" %></p>
  <p><%= "montant de la location : #{@montant} €" %></p>

</div>

<div class= "d-inline-flex">
<%= button_to "retour aux réservatons", transactions_path, method: :get, class: "p-1 m-1" %>

<%= button_to 'modifier', edit_transaction_path(@transaction), method: :get,class: "p-1 m-1"%> 

<%= button_to 'annuler la réservation', transaction_path(@transaction),
        method: :delete,
        data: { confirm: "Voulez-vous annuler la réservation de :#{@transaction.piece.name}?" },
        class: "p-1 m-1" %>
</div>
